
ul
{
list-style: none;
margin: 17px 20px 20px 24px;
width: 330px;
}
#sug li
{
display: block;
padding: 5px;
background-color: #ccc;
border-bottom: 1px solid #367;
}
#content
{
margin-top:10%;
padding:50px;
width:500px; 
float:left;
}
#clear
{ clear:both; }
#box
{
float:left;
margin:0 0 20px 0;
text-align:justify;
}
